* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.list-style-none {
    list-style-type: none;
    gap: 1em;
}

.text-gray {
    color: rgb(94, 94, 94);
}

.text-red {
    color: rgb(222, 0, 0);
}

.text-small {
    font-size: 0.8em;
}

.text-bold {
    font-weight: 600;
}

.strikethrough {
    text-decoration: line-through;
}

/* FINE CSS GENERICO */


/* Header */

header {
    background-color: #FF6801;
    filter: drop-shadow(0px 0px 5px rgb(96, 96, 96));
    padding: 1em;
}

.header-menu {
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 2em;
}

/* Main */

.card-container {
    flex-wrap: wrap;
    padding: 4em 1em;
    gap: 1.2em;
}

.card {
    width: calc(100% / 3 - 0.8em);
    position: relative;
}

.card-container div img {
    width: 100%;
}

.sale {
    background-color: red;
    color: whitesmoke;
    padding: 0.5em;
    max-width: fit-content;

    position: absolute;
    bottom: 15%;
}

.sustainable {
    background-color: green;
    color: whitesmoke;
    padding: 0.5em;
    max-width: fit-content;

    position: absolute;
    bottom: 15%;
    left: 13%;
}

.no-sale {
    bottom: 15%;
    left: 0%;
}

.favorite {
    background-color: white;
    padding: 0.5em;
    position: absolute;
    top: 2%;
    /* più carino con un po' di margine anche da destra */
    right: 3%;
    transition: 0.25s;
}

.favorite:hover {
    color: red;
}

/* Footer */

footer {
    background-color: #1A1A1A;
    color: whitesmoke;
    padding: 1em;
}

.footer-menu {
    justify-content: space-between;
}